.timer {
  width: 28rem;
  margin: 25vh auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.timer__text {
  margin: .625rem 0;
  font-size: 3.75rem;
}

.timer__info {
  display: block;
  margin-bottom: .3125rem;
  height: 2.4rem;
  font-size: 1.2rem;
  white-space: pre-line;
}

.timer__form {
  align-self: center;
}

.timer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 3fr 2fr;
  grid-column-gap: 10px;
  margin-bottom: .625rem;
}

.timer__days {
  grid-row-start: 2;
}

.timer__hours {
  grid-row-start: 2;
  justify-self: center;
 }

 .timer__label-mins {
  align-self: center;
 }

.timer__mins {
  grid-row-start: 4;
  grid-column-start: 1;
  justify-self: center;
}

.timer__label-seconds {
  align-self: center;
 }

.timer__seconds {
  grid-row-start: 4;
  grid-column-start: 2;
}

.timer__button {
  width: 7.5rem;
  height: 2.2rem;
  cursor: pointer;
  margin: .625rem 0;
}

.timer__textarea {
  margin: .625rem auto;
}

@media screen and (max-width: 500px) {
  .timer {
    width: 100%;
  }

  .timer__text {
    font-size: 2.5rem;
  }

  .timer__info {
    font-size: 1em;
  }

  .timer__days, .timer__hours, .timer__mins, .timer__seconds {
    width: 110px;
  }

  .timer__button {
    width: 6.9rem;
    height: 28px;
  }

  .timer__textarea {
    width: 15.6rem;
  }

}